* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    height: 100vh;
    max-width: 100vw;
    background-color: var(--Off-white);
}

body * {
    font-family: 'Poppins', sans-serif;
}